.list-worker{
    margin: 0px auto;
    max-width: 70%;
}.profile-picture {
    width: 40%;
    float: left;
}.short-desc {
    width: 60%;
    float: left;
}img{
    width: 100%;
    margin: 0px auto;
    display: block;
}.detail{
    margin-top: 20px;
    display: flex;
}h1, h2, h3, h4, h5, p{
    margin: 1% 0 0 5%;
}